@import "./_variables.scss";

button {
    color:$kimids-color-white;
    font-weight: $kimids-button-text-default-font-weight;
    font-size: $kimids-button-text-default-font-size;
    background-color:$kimids-color-red;
    padding:$kimids-button-padding-topbottom $kimids-button-padding-leftright;
    border-radius: $kimids-button-border-radius;
    border:$kimids-button-border-none;
    text-transform: $kimids-button-text-default-text-case;
}